$e7-primary: #c62828;
$e7-accent: #c67728;

$e7-background: #262626;
$e7-background-aside: #232323;

$blue-3: #74c0fc;
$blue-4: #4dabf7;

$weather-text: #e1e4e7;
$weather-background: #232634;
$weather-foreground: #2e3341;

$color1: rgba(77, 171, 247, 0.75);
$color2: rgba(165, 77, 247, 0.75);
$color3: rgba(247, 188, 77, 0.75);
