@import "./colors.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  background-color: #f6f6f6;

  background: radial-gradient(circle, $weather-background 10%, $weather-background 100%);
  color: $weather-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $weather-text;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

small {
  color: darken($weather-text, 15%);
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b4b4b4;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #b4b4b4;
  }
}

.pointer {
  cursor: pointer;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-dialog {
  .mat-dialog-container {
    background: $e7-background;
  }
}
